@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
      url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
      url('../fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
      url('../fonts/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
      url('../fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
      url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BlkCond.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BlkCond.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-LightObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BlkCondObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BoldCond.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BoldCond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Blk.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Blk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Roman.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BoldObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Comp.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Comp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Obl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Obl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Light.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BlkObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BlkObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Cond.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-Cond.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-BoldCondObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-CondObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-CondObl.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-LightCondObl.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-LightCondObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-LightCond.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-LightCond.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-ExtraComp.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-ExtraComp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-UltraComp.woff2') format('woff2'),
      url('../fonts/HelveticaLTStd-UltraComp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


/** Scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

html{
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  font-family: 'Helvetica LT Std';

}
.main-banner{
  width: 100%;
  
}
.main-banner__content{
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}
.main-banner__item{
  height: 100vh;
}
.main-banner__item:nth-child(1){
  background-color: #062c37;
}


.main-banner__img{
  width: 130px;
  margin-left: -15px;
  margin-bottom: 15px;
}
.main-banner__img img{
  width: 100%;
}
.main-banner__box{
  padding: 30px 60px;
}
.main-banner__title p{
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: 'Oswald';
  margin-bottom: 0px;
}

.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-grid .form-group:nth-child(1){
  margin-right: 10px;
}
._form-content{
  display: flex;
  flex-wrap: wrap;
}
._form_element:nth-child(1){
  width: 100%;
}
._form_element:nth-child(2){
  width: 100%;
}
._form_element:nth-child(3){
  width: 48%;
  margin-right: 15px;
}
._form_element:nth-child(4){
  width: 48%;
}
._form_element:nth-child(5){
  width: 100%;
}
._form_element:nth-child(6){
  width: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],textarea,select {
  width: 100%;
  margin: 0 0px 20px;
  height: 35px;
  padding: 6px 15px;
  outline: none;
  border: none;
  background: #ffffff;
  color: #898989;
  font-size: 16px;
  font-family: 'Helvetica LT Std';
  border-radius: 0px;
  margin-bottom: -10px;
  
}

input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
  background:#fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

input[type="text"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder {
  color: #898989 !important;
}

textarea {
  height: 100px;
  resize: none;
}
.form-group{
  margin-bottom: 0px;
}
span label{
  color:#fff !important;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}
.text-link{
  color:#fff;
  text-decoration: underline;
  font-weight: 300;
  font-size: 15px
}
.text-link:hover{
  color:#2bb7a9;
  text-decoration: none;
}


.main-form__active{
  position: relative;
}
.main-form__active a{
  position: absolute;
  bottom: 83px;
  left: 65px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #2bb7a9;
}

._button-wrapper button{
  display: inline-block;
  width: auto;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 400;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 10px 45px;
  cursor: pointer;
  text-align: center;
  font-family: 'Oswald';
  margin-top: 30px !important;
}

._button-wrapper button {
  color: #fff;
  background-color: #2bb7a9;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn--filled:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}


.btn_custom  {
  margin-top: 30px !important;
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 700;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 10px 50px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.btn--filled {
  color: #fff;
  background-color: #2bb7a9;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn--filled:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}
.btn-box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.main-banner__item  h1.main-banner__watermask{
  margin: 0;
}
.main-banner__item  h1.main-banner__watermask:before{
  position: absolute;
  content: 'Caoba';
  color: #fff;
  transform: rotate(-90deg);
  right: -160px;
  z-index: 999;
  top: 250px;
  opacity: 0.2;
  font-size: 150px;
  font-weight: 700;
  font-family: 'Oswald';
  letter-spacing: 15px;
}
.main-banner__slidercontent{
  position: relative;
}

.main-banner__slidermask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.57);
}

.main-banner__sliderbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.main-banner__sliderimg{
  width: 100%;
  height: 100vh;
}
.main-banner__sliderimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner__slidertext{
  padding: 30px;
  width: 65%;
}
.main-banner__slidertext h1{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'Oswald';
  margin-bottom: 15px;
}
.main-banner__slidertext h1:after{
  position: absolute;
  content: '';
  width: 370px;
  height: 1px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
}
.main-banner__slidertext p{
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}
.main-banner__slidertext span{
  color:#53dfcb;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  letter-spacing: 7px;
  font-family: 'Oswald';
}
.main-banner__sliderubication{
  background-color: #2bb7a9;
  width: 75%;
  padding: 10px 10px 10px 30px;
}
.main-banner__sliderubication p{
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}
.main-banner__sliderubication strong{
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Oswald';
}
.main-banner__sliderlist{
  padding: 10px 10px 10px 30px;
}
.main-banner__ullist {
  list-style: none;
  padding-left: 0;
  line-height: 1.4;
}
.main-banner__ullist li{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Oswald';
}


.slick-dots li button {
  border: 0;
  background: #fff;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.slick-dots li button:before{
  content: '';
}
.slick-dots li.slick-active button:before{
  background: #2bb7a9;
  border-radius: 50%;
  content: '';
}
.slick-dots {
  position: absolute;
  bottom: 30px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  left: -352px;
}

.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.main-btn__mobile{
  padding-left: 20px;
}
.modal-content{
  background-color: #062c37;
}
.close{
  color: #fff;
}
.modal-body .main-banner__form{
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  ._form_element:nth-child(1){
    width: 100%;
  }
  ._form_element:nth-child(2){
    width: 100%;
  }
  ._form_element:nth-child(3){
    width: 48%;
    margin-right: 8px;
  }
  ._form_element:nth-child(4){
    width: 48%;
  }
  ._form_element:nth-child(5){
    width: 100%;
  }
  ._form_element:nth-child(6){
    width: 100%;
  }
  .main-banner__slidertext h1:after{
    width: 260px;
  }
  .btn_custom{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .main-banner__item h1.main-banner__watermask:before{
    display: none;
  }
  .slick-dots li button{
    width: 15px;
    height: 15px;
  }
  .slick-dots li.slick-active button:before{
    width: 15px;
    height: 15px;
  }
  .main-banner__sliderbox{
    justify-content: space-around;
  }
  .main-banner__img {
    width: 110px;
    margin-left: 10px;
  }
  .main-banner__sliderimg img{
    object-fit: cover;
  }
  .main-banner__slidertext{
    width: 100%;
  }
  .main-banner__slidertext h1{
    font-size: 20px;
    letter-spacing: 4px;
  }
  .main-banner__slidertext span{
    line-height: 1;
    letter-spacing: 5px;
  }
  .main-banner__slidertext p{
    font-size: 15px;
  }
  .main-banner__sliderubication{
    display: none;
  }
  .main-banner__sliderubication p{
    font-size: 15px;
  }
  .main-banner__ullist li{
    font-size: 15px;
  }
  .slick-dots {
    left: -110px;
    bottom: 10px;
  }
  .main-banner__title p{
    font-size: 18px;
  }
  .main-banner__item{
    height: auto;
  }
  .main-banner__item:nth-child(1) {
    padding: 20px;
  }
  .main-banner__item:nth-child(2){
    order: -1;
  }
  .main-banner__slidertext{
    padding: 20px;
  }
  .main-banner__sliderubication{
    padding: 10px 10px 10px 20px;
  }
  .main-banner__sliderlist {
    padding: 10px 10px 10px 20px;
  }
  .main-banner__box{
    padding: 0;
  }
  .main-banner__content {
    grid-template-columns: 100%;
  }
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    height: 40px;
    font-size: 15px;
  }
  textarea {
    height: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  ._form_element:nth-child(1){
    width: 100%;
  }
  ._form_element:nth-child(2){
    width: 100%;
  }
  ._form_element:nth-child(3){
    width: 48%;
    margin-right: 10px;
  }
  ._form_element:nth-child(4){
    width: 48%;
  }
  ._form_element:nth-child(5){
    width: 100%;
  }
  ._form_element:nth-child(6){
    width: 100%;
  }
  .main-banner__sliderubication strong{
    font-size: 15px;
  }
  .main-banner__slideritem{
    width: 100%;
  }
  .main-banner__slidertext{
    width: 90%;
  }
  .main-banner__content{
    grid-template-columns: 45% 55%;
  }
  .main-banner__box {
    padding: 30px;
  }
  .btn_custom{
    font-size: 15px;
    padding: 10px 35px;
  }
  .main-banner__img{
    width: 120px;
  }
  .main-banner__slidertext span{
    line-height: 1;
    letter-spacing: 3px;
    font-size: 25px;
  }
  .main-banner__item h1.main-banner__watermask:before{
    font-size: 95px;
    right: -110px;
  }
  .slick-dots{
    left: -156px;
    bottom: 10px;
  }
  .main-banner__slidertext h1{
    font-size: 25px;
  }
  .main-banner__slidertext p{
    font-size: 15px;
  }
  .main-banner__sliderubication p{
    font-size: 15px;
  }
  .main-banner__ullist li{
    font-size: 15px;
  }

  .main-banner__title p{
    font-size: 15px;
  }
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    height: 30px;
  }
  textarea {
    height: 80px;
  }
  .main-banner__slidertext h1{
    font-size: 23px;
  }
  .main-banner__slidertext h1:after{
    width: 310px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  ._form_element:nth-child(1){
    width: 100%;
  }
  ._form_element:nth-child(2){
    width: 100%;
  }
  ._form_element:nth-child(3){
    width: 48%;
    margin-right: 8px;
  }
  ._form_element:nth-child(4){
    width: 48%;
  }
  ._form_element:nth-child(5){
    width: 100%;
  }
  ._form_element:nth-child(6){
    width: 100%;
  }
  .main-banner__img{
    width: 90px;
  }
  .main-banner__box {
    padding: 30px;
  }
  .main-banner__item h1.main-banner__watermask:before{
    font-size: 105px;
    right: -120px;
  }
  .main-banner__slidertext{
    width: 75%;
  }
  .main-banner__slidertext span{
    letter-spacing: 5px;
  }
  .main-banner__slidertext h1:after{
    width: 325px;
  }
  .main-banner__slidertext h1{
    font-size: 25px;
  }
  .main-banner__slidertext p{
    font-size: 15px;
  }
  .main-banner__sliderubication p{
    font-size: 15px;
  }
  .main-banner__ullist li{
    font-size: 15px;
  }
  .slick-dots{
    left: -250px;
  }
  .main-banner__title p{
    font-size: 15px;
  }
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    height: 30px;
  }
  textarea {
    height: 80px;
  }
}

@media (min-width: 1400px) and (max-height: 900px){
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    height: 50px;
  }
  .main-banner__box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-banner__item h1.main-banner__watermask:before{
    top:350px;
  }
  .main-banner__box{
    padding: 50px;
  }
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    margin-bottom: 30px;
  }
  form{
    margin-bottom: 10%;
  }
  .main-banner__form{
    margin-top: 5%;
  }
  .main-banner__slidertext{
    padding: 50px;
  }
  .main-banner__sliderubication {
    padding: 20px 20px 20px 50px;
  }
  .main-banner__sliderlist{
    padding: 20px 20px 20px 50px;
  }
  .slick-dots{
    left: -340px;
  }
  .main-banner__slidertext h1:after{
    width: 90%;
  }
  .main-banner__box{
    justify-content: flex-start;
  }
}
@media (min-width: 1600px) and (max-height: 1200px){
  .main-banner__item h1.main-banner__watermask:before{
    font-size: 250px;
    top:450px;
    right:-230px;
  }
  
  .main-banner__slidertext h1{
    font-size: 40px;
  }
  .main-banner__slidertext h1:after{
    width: 470px;
  }
  .main-banner__slidertext p{
    font-size: 30px;
  }
  .main-banner__slidertext span{
    font-size: 40px;
  }
  .main-banner__sliderubication p, .main-banner__sliderubication strong{
    font-size: 35px;
  }
  .main-banner__img{
    width: 200px;
  }
  .main-banner__title p{
    font-size: 30px;
  }
  input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea, select{
    height: 45px;
  }
  .main-banner__ullist li{
    font-size: 25px;
  }
}
